<p>posts-index works!</p>

<bootstrap-card [width]="'width: 18rem;'">
    <ng-container class="header">
        <img
            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
            class="card-img-top"
            alt="..."
        >
    </ng-container>
    <ng-container class="body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a
            href="#"
            class="btn btn-primary"
        >Go somewhere</a>
    </ng-container>
</bootstrap-card>